/* name		dark	light */
/* black	0		8 */
/* red		1		9 */
/* green	2		10 */
/* yellow	3		11 */
/* blue		4		12 */
/* purple	5		13 */
/* cyan		6		14 */
/* white	7		15 */

*.alpha: 1.0
*.font : Hack Nerd Font Mono:size=11

*.foreground: #ababab
*.background: #000000
*.color0:     #000000
*.color8:     #343434
*.color1:     #e92f2f
*.color9:     #e92f2f
*.color2:     #0ed839
*.color10:    #0ed839
*.color3:     #dddd13
*.color11:    #dddd13
*.color4:     #3b48e3
*.color12:    #3b48e3
*.color5:     #f996e2
*.color13:    #f996e2
*.color6:     #23edda
*.color14:    #23edda
*.color7:     #ababab
*.color15:    #f9f9f9

dmenu.selbackground: #f9f9f9
dmenu.selforeground: #000000
